# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exe
*.pdb
*.tlog
*.log
*.obj
*.idb
*.lastbuildstate
*.pch
heap_inject_dll/heap_injector/Debug/heap_injector.exe.intermediate.manifest
*.manifest
heap_inject_dll/heap_inject_dll/Debug/heap_inject.dll.embed.manifest.res
*.unsuccessfulbuild
*.rc
*.ipch
/HeapMonitor/build/
/HeapMonitor/dist/
*.properties
*.xml
*.opensdf
Observer/HeapMonitor.sdf
Observer/dist/
Observer/Observer/build/
Observer/DllInjector/build/
Observer/TestAllocations/build/
Observer/libs/
Observer/.vs/